# =========================
# Data & ML Models
# =========================
data/
**/data/

*.pth
*.pt
*.ckpt
*.pkl
*.h5
*.tar
*.tar.gz
*.zip

# =========================
# Python
# =========================
__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd
.Python

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# =========================
# Environment
# =========================
.env
venv/
.venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/